{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('css/leaflet.css') }}
{% endblock %}

{% block extra_head_js %}
    {{ JS.push('js/lib/leaflet-src.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/popcorn.ie8.js') }}
	{{ JS.push('js/lib/popcorn.js') }}
	{{ JS.push('js/lib/popcorn.code.js') }}
{% endblock %}

{% block extra_head %}
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/leaflet.ie.css" />
    <![endif]-->
{% endblock %}

{% block outer_content %}
<div id="fb-root"></div>

<div id="nav">
    <div class="nav-primary">
        <ul class="site-links">
            <li class="npr"><a href="http://npr.org/music"><img src="img/npr_music.png"></a></li>
            <li class="project-name">{{ PROJECT_NAME }}</li>
        </ul>
        <ul class="social-links">
            <li class="twitter"><a rel="external" href="http://twitter.com/share?text=Bob+Boilen's+Wristbands+2012,+from+@nprmusic+%26+@allsongs.&amp;url=http%3A%2F%2Fapps.npr.org%2Fbobs-boilens-wristbands-2012%2F" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Navbar', 'Bob\'s Concert Tickets']);">Share This Page On Twitter</a></li>
            <li class="facebook"><a rel="external" href="http://www.facebook.com/sharer/sharer.php?t=Bob+Boilen's+Wristbands+2012,+from+NPR+Music.&amp;u=http%3A%2F%2Fapps.npr.org%2Fbob-boilens-wristbands-2012%2F" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', 'Bob\'s Concert Tickets']);">Like This Page On Facebook</a></li>
        </ul>
    </div>
    <div class="nav-audio">
        <div id="audio">
            <div id="pop-audio" class="jp-jplayer"></div>
        
                <div id="jp_container_1" class="jp-audio">
                    <div class="jp-type-single">
                
                        <div class="jp-gui jp-interface">
                            <div class="jp-controls">
                                <a href="javascript:;" class="jp-play nav-btn" tabindex="1"><i class="icon-play icon-white">play</i></a>
                                <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;"><i class="icon-pause icon-white">pause</i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div id="browse-btn" class="nav-btn"><i class="icon-th-list icon-white"></i><div id="current-cue">{{ COPY.cues[0].name }}</div></div>
        <div id="next-btn" class="nav-btn back-next" title="Next">Next&nbsp;&rsaquo;</div>
        <div id="back-btn" class="nav-btn back-next" title="Back">&lsaquo;&nbsp;Back</div>
    </div>
</div>

<div id="browse-list"></div>

<div id="superzoom"></div>

<div class="modal hide" id="modal-intro">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h3>{{ PROJECT_NAME }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ COPY.content.modal_intro_body }}</p>
        <p class="more">{{ COPY.content.modal_intro_play_button }} &rsaquo;</p>
    </div>
    <div class="modal-bottom">
        <img src="img/modal-bottom-banner.png" alt="Meridien, N.H. - 1984" />
    </div>
</div>

<div class="modal hide" id="modal-end">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h3>{{ COPY.content.modal_end_title }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ COPY.content.modal_end_body }}</p>
        <p class="credits">{{ COPY.content.modal_end_credits }}</p>
        <p class="more">{{ COPY.content.modal_end_play_button }} &rsaquo;</p>
    </div>
</div>

{% endblock %}
