{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('css/leaflet.css') }}
{% endblock %}

{% block extra_head_js %}
    {{ JS.push('js/lib/leaflet-src.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/popcorn.ie8.js') }}
	{{ JS.push('js/lib/popcorn.js') }}
	{{ JS.push('js/lib/popcorn.code.js') }}
{% endblock %}

{% block extra_head %}
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/leaflet.ie.css" />
    <![endif]-->
{% endblock %}

{% block outer_content %}
<div id="nav">
    <div class="nav-primary">
        <ul class="site-links">
            <li class="npr"><a href="http://npr.org/music"><img src="img/npr_music.png"></a></li>
            <li class="project-name">{{ PROJECT_SHORT_NAME }}</li>
        </ul>
    </div>
    <div class="nav-audio">
        <div id="audio">
            <div id="pop-audio" class="jp-jplayer"></div>
        
                <div id="jp_container_1" class="jp-audio">
                    <div class="jp-type-single">
                
                        <div class="jp-gui jp-interface">
                            <div class="jp-controls">
                                <div id="back-btn" class="nav-btn back-next" title="Back"><i class="icon-backward icon-white">back</i></div>
                                <a href="javascript:;" class="jp-play nav-btn" tabindex="1"><i class="icon-play icon-white">play</i></a>
                                <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;"><i class="icon-pause icon-white">pause</i></a>
                                <div id="next-btn" class="nav-btn back-next" title="Next"><i class="icon-forward icon-white">next</i></div>
                            </div>
                            <div id="browse-btn" class="nav-btn"><i class="icon-th-list icon-white"></i><div id="current-cue">{{ COPY.cues[0].name }}</div></div>
                            <div class="current-time"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div id="browse-list"></div>

<div id="superzoom"></div>

<div class="modal hide" id="modal-intro" data-backdrop="static">
    <div class="modal-body">
        <h1>{{ PROJECT_NAME }}</h1>
        <p>{{ COPY.content.modal_intro_body }}</p>
        <p><a class="play-btn">{{ COPY.content.modal_intro_play_button }} &rsaquo;</a></p>
    </div>
    <div class="modal-bottom">
        <img src="img/modal-bottom-banner.png" alt="Meridien, N.H. - 1984" />
    </div>
</div>

<div class="modal hide" id="modal-end" data-backdrop="static">
    <div class="modal-body">
        <h3>{{ COPY.content.modal_end_title }}</h3>
        <p>{{ COPY.content.modal_end_body }}</p>
        <p class="credits">{{ COPY.content.modal_end_credits }}</p>
        <p><a class="play-btn">{{ COPY.content.modal_end_play_button }} &rsaquo;</a></p>

        <ul class="share-buttons">
            <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ TWITTER.TEXT|urlencode }}&amp;url={{ TWITTER.URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Navbar', '{{ PROJECT_NAME }}']);">Share This On Twitter</a></li>
            <li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK.APP_ID }}&amp;link={{ FACEBOOK.URL|urlencode }}&amp;name={{ FACEBOOK.TITLE|urlencode }}&amp;picture={{ FACEBOOK.IMAGE_URL|urlencode }}&amp;redirect_uri={{ FACEBOOK.URL|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', '{{ PROJECT_NAME }}']);">Like This On Facebook</a></li>
        </ul>
    </div>
</div>

<div id="vignette"></div>
<div id="streetview-link"><a href="javascript:;">Streetview</a></div>
<div id="streetview">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=""></iframe><br /><small><a href="" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>

{% endblock %}
