{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('css/leaflet.css') }}
{% endblock %}

{% block extra_head_js %}
    {{ JS.push('js/lib/leaflet-src.js') }}
{% endblock %}

{% block extra_head %}
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/leaflet.ie.css" />
    <![endif]-->
{% endblock %}

{% block outer_content %}
<div id="fb-root"></div>

    <div id="nav">
        <ul class="site-links">
            <li class="npr"><a href="http://npr.org/music"><img src="img/npr_music.png"></a></li>
            <li class="donate"><a href="http://www.npr.org/stations/donate/">donate</a></li>
        </ul>
        <ul class="social-links">
            <li class="twitter"><a rel="external" href="http://twitter.com/share?text=Bob+Boilen's+Wristbands+2012,+from+@nprmusic+%26+@allsongs.&amp;url=http%3A%2F%2Fapps.npr.org%2Fbobs-boilens-wristbands-2012%2F" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Navbar', 'Bob\'s Concert Tickets']);">Share This Page On Twitter</a></li>
            <li class="facebook"><a rel="external" href="http://www.facebook.com/sharer/sharer.php?t=Bob+Boilen's+Wristbands+2012,+from+NPR+Music.&amp;u=http%3A%2F%2Fapps.npr.org%2Fbob-boilens-wristbands-2012%2F" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', 'Bob\'s Concert Tickets']);">Like This Page On Facebook</a></li>
        </ul>
    </div>

    <div id="topper">
        <h1>Bob Boilen's Wristbands 2012</h1>
        <button id="about" data-toggle="modal" data-target="#myModal">What is this?</button>
    </div>

    <div id="superzoom"></div>

    <div id="legend">
        <div class="legend-contents">
            <p class="headline">Bob Boilen's <nobr>Wristbands 2012</nobr></a>
            <p class="chatter">I saw 462 shows in 2012 (<a href="http://www.npr.org/templates/story/story.php?storyId=168153049">read the post</a>) and saved tickets, wristbands and media passes whenever I could.</p>
            <p class="chatter">Zoom in with the + / - controls.</p>
            <p class="chatter">Some highlights:</p>            
            <ul>
                <li><a href="#" onclick="javascript:superzoom_to(3359, 2332, 3);">Regina Spektor</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(4690, 3568, 3);">Bjork</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(403,  1240, 3);">Passion Pit</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(5218, 364,  3);">Sigur Ros</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(5454, 148,  3);">Grimes</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(7274, 1004, 3);">Patrick Watson</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(7274, 1644, 3);">Kraftwerk</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(2607, 3788, 3);">fun.</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(4882, 4512, 3);">The Who</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(5974, 4488, 3);">Kishi Bashi</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(6354, 4888, 3);">Alt-J</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(539,  5392, 3);">Gotye</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(4526, 5692, 3);">David Byrne &amp; St. Vincent</a></li>
                <li><a href="#" onclick="javascript:superzoom_to(6698, 5392, 3);">Portlandia</a></li>
            </ul>
            <p class="source">Download the <a href="img/bob-boilens-wristbands-2012.png">full-size image</a> (112MB).</p>
            <p class="byline">
                by <a href="mailto:bboilen@npr.org">Bob Boilen</a>, <a href="mailto:lrock@npr.org">Lauren Rock</a>, <a href="mailto:bboyer@npr.org">Brian Boyer</a> and <a href="mailto:cgroskopf@npr.org">Christopher Groskopf</a> &mdash; December 31, 2012
            </p>
        </div>
    </div>
    
    <div class="modal hide" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h3></h3>
        </div>
        <div class="modal-body"></div>
    </div>

{% endblock %}
